/* #region Common */

body {
  font-family: 'Alkatra', cursive;
  height: 100vh;
  height: 100svh;
}

/* #endregion Common */

/* #region Utility */

#app {
  height: 100%;
}

.container {
  position: relative;
  width: 96%;
  max-width: 1320px;
  margin: auto;
  height: 100%;
}

/* #endregion Utility */

.title {
  padding: 1rem 0;
  text-align: center;
  font-size: 2.2rem;
  text-decoration: underline;
}

/* #region Carousel */

#carousel_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 60%;
  background-color: black;
}

.carousel {
  width: 80%;
}

.movie_wrapper:not(.active) {
  display: none;
}

.movie_wrapper .text_wrapper {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: right;
}

.single_movie:not(.active) {
  display: none;
}

.thumbnails {
  width: 20%;
  height: 100%;
}

.thumbnail_wrapper {
  position: relative;
  height: 20%;
  overflow: hidden;
}

.thumbnails img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  display: block;
  width: 100%;
}


/* Using max-width and max-height in order to make the image adapt to various screen resolutions */
.carousel img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  animation: fade-in 0.6s 1;
}

.fa-chevron-left,
.fa-chevron-right,
.fa-play,
.fa-pause,
.fa-arrow-rotate-left,
.fa-arrow-rotate-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #e1e1e1cc;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.6s;
}

.carousel:hover .fa-chevron-left,
.carousel:hover .fa-chevron-right,
.carousel:hover .fa-play,
.carousel:hover .fa-pause,
.carousel:hover .fa-arrow-rotate-left,
.carousel:hover .fa-arrow-rotate-right {
  opacity: 0.2;
}

.carousel .fa-chevron-left:hover,
.carousel .fa-chevron-right:hover,
.carousel .fa-play:hover,
.carousel .fa-pause:hover,
.carousel .fa-arrow-rotate-left:hover,
.carousel .fa-arrow-rotate-right:hover {
  opacity: 1;
}

.fa-chevron-left {
  right: unset;
  left: 20px;
}

.fa-play,
.fa-pause,
.fa-arrow-rotate-left,
.fa-arrow-rotate-right {
  right: unset;
  top: 5px;
  transform: translate(0, 0);
}

.fa-play,
.fa-pause {
  right: calc(50% + 10px);
}

.fa-arrow-rotate-left,
.fa-arrow-rotate-right {
  right: unset;
  left: calc(50% + 10px);
}

.movie_title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
  color: #e1e1e1;
  font-size: 1.5rem;
  font-weight: 500;
}

.movie_description {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  color: #e1e1e1;
  background-color: #000000aa;
  font-size: 1.125rem;
  font-weight: 400;
  transition: opacity 0.6s;
}

.carousel:hover .movie_description {
  opacity: 1;
}

/* #endregion Carousel */

/* #region Thumbnails */

/* .thumbnails {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 120px;
  background-color: #000000;
} */

.single_thumbnail {
  position: relative;
  width: 20%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.single_thumbnail.active {
  border-top: 3px solid #e1e1e1;
  border-bottom: 3px solid #e1e1e1;
  border-left: 3px solid #9a9a9a;
  border-right: 3px solid #9a9a9a;
}

.single_thumbnail:not(.active)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000aa;
}

/* .thumbnails > div > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 100%;
} */

/* #endregion Thumbnails */

/* #region Responsive */

/* @media screen and (min-width: 490px) {

  .carousel {
    position: absolute;
    bottom: unset;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50%;
  }

  .thumbnails {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: unset;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 120px;
    background-color: #000000;
  }
  
}

@media screen and (min-width: 557px) {

  .title {
    font-size: 2.5rem;
  }

  .movie_title {
    font-size: 1.75rem
  }

} */

/* #endregion Responsive */

/* #region Keyframes */

/* #endregion Keyframes */